name: Release

on:
    push:
        tags:
          - "v*.*.*"
permissions:
  contents: write
jobs:
  build:
    name: Release - ${{ matrix.platform.release_for }}
    strategy:
      matrix:
        platform:
          - release_for: Arm-32
            os: ubuntu-latest
            target: arm-unknown-linux-gnueabihf
            bin: localtunnel
            name: localtunnel-linux-arm32.tar.tz
            command: build
          - release_for: x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: localtunnel
            name: localtunnel-linux-x86_64.tar.tz
            command: build
    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: ${{ matrix.platform.command }}
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
      - name: Package as archive
        shell: bash
        run:  |
          cd target/${{ matrix.platform.target }}/release
          tar czvf ../../../${{ matrix.platform.name }} ${{ matrix.platform.bin }}
          cd -
      - name: Upload package as artifact
        uses: actions/upload-artifact@v3
        with:
          name: binaries
          path: ${{ matrix.platform.name }}
    
  publish:
    name: Publish binaries
    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: binaries
          path: ./binaries
      - name: Publish artifacts
        uses: softprops/action-gh-release@v1
        with:
          files: ./binaries/*
